[submodule "upstream/InteractiveHtmlBom"]
	path = upstream/InteractiveHtmlBom
	url = https://github.com/INTI-CMNB/InteractiveHtmlBom
[submodule "upstream/kicad-automation-scripts"]
	path = upstream/kicad-automation-scripts
	url = https://github.com/obra/kicad-automation-scripts
[submodule "upstream/kiplot"]
	path = upstream/kiplot
	url = https://github.com/johnbeard/kiplot
[submodule "upstream/JLCKicadTools"]
	path = upstream/JLCKicadTools
	url = https://github.com/matthewlai/JLCKicadTools.git
[submodule "upstream/KiAuto"]
	path = upstream/KiAuto
	url = https://github.com/INTI-CMNB/KiAuto
[submodule "upstream/KiBot"]
	path = upstream/KiBot
	url = https://github.com/INTI-CMNB/KiBot
[submodule "upstream/PcbDraw"]
	path = upstream/PcbDraw
	url = https://github.com/INTI-CMNB/PcbDraw
